<nav class="navbar navbar-fixed-top">
  <a href="#" class="toggle"><i class="fa fa-reorder"></i></a>
  <div class="navbar-links right">
    <%= link_to 'Polymer', root_path, method: :get , class: "link" %>
  </div>
</nav>
