<nav class="navbar navbar-fixed-top">
  <a href="#" class="toggle"><i class="fa fa-reorder"></i></a>
  <div class="navbar-links right">
    <%= link_to 'Home', root_path, method: :get , class: "link" %>
    <%= link_to 'Polymer', home_polymer_path, method: :get , class: "link" %>
    <%= link_to 'React', home_react_path, method: :get , class: "link" %>
  </div>
</nav>
