<dom-module id="display-comment">
  <link rel="stylesheet" href="display-comment.css" />

  <template>
    <template is="dom-repeat" items="[[comments]]">
      <div class="comment">
          <div class="comment-avatar"><img src$="[[genericAvatar]]" /></div>
          <div class="comment-infos">
            <span class="username">{{item.username}}</span>
            <span class="created-at">{{item.created_at}}</span>
          </div>
          <iron-autogrow-textarea
            class="comment-body"
            bind-value={{item.content}}
            readonly>
          </iron-autogrow-textarea>
      </div>
    </template>

    <iron-ajax
        id="requestComments"
        handle-as="json"
        on-response="handleResponse">
    </iron-ajax>
  </template>

  <script src="display-comment.js"></script>
</dom-module>
