<dom-module id="display-comment">
  <link rel="stylesheet" href="display-comment.css" />
  <template>
    <template is="dom-repeat" items="[[comments]]">
        <div class="comment">
         <img class="avatar" src="{{genericAvatar}}"></img>
          <div class="comment-body">
            <div class="comment-infos">
              <span class="username">{{item.username}}</span>
              <span class="created-at">{{item.created_at}}</span>
            </div>
            <textarea readonly>{{item.content}}</textarea>
          </div>
        </div>
    </template>

    <iron-ajax
        id="requestComments"
        handle-as="json"
        on-response="handleResponse">
    </iron-ajax>
  </template>

  <script src="display-comment.js"></script>
</dom-module>
