:host {
  display: block;
  background: var(--add-comment-background);
  width: var(--add-comment-width);
  padding: 15px;

  .comment {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction: row;

    &:not(:first-of-type) {
      margin-top: 50px;
    }

    .avatar {
      border-radius: 50%;
  		width: 40px;
  		height: 40px;
      margin: 0 16px 0 0;
  		background-size: contain;
  		position: relative;
    }

    .comment-body {
      display: -webkit-flex; /* Safari */
      display: flex;
      -webkit-flex-direction: column; /* Safari */
      flex-direction: column;
      margin-left: 10px;
      width: 100%;

      .comment-infos {
        display: -webkit-flex; /* Safari */
        display: flex;
        -webkit-flex-direction: row; /* Safari */
        flex-direction: row;
        justify-content: space-between;
        height: 30px;
      }
    }
  }
}
