<h1>User Comment Component</h1>

<display-comment
  id="display-comment"
  generic-avatar="<%= image_path 'generic-avatar.png' %>"
  comments="<%= @comments %>"></display-comment>

<add-comment api-url="http://localhost:3000"></add-comment>
