<h1>User Comment Component</h1>

<display-comment
  api-url="http://localhost:3000" `
  generic-avatar="<%= image_path 'generic-avatar.png' %>"></display-comment>

<add-comment api-url="http://localhost:3000"></add-comment>
