<div class="container">
  <h1>User Comment Component with React</h1>

  <%= react_component('DisplayComment', {
    url: ENV['COMMENT_API_URL'],
    defaultAvatar: asset_path('generic-avatar.png'),
    dateFormat: "MMMM Do YYYY, h:mm a",
    channelName: "CommentChannel"
  }) %>

  <%= react_component('AddComment', {
    url: ENV['COMMENT_API_URL']
  }) %>
</div>
