<dom-module id="add-comment">
  <link rel="stylesheet" href="add-comment.css" />
  <template>
    <h2>Add comment</h2>

    <form method="post">
      <div class="field">
        <label for="username">Username:</label>
        <input id="username" type="text" />
      </div>

      <div class="field">
        <label for="email">Email:</label>
        <input id="email" type="text" />
      </div>

      <div class="field">
        <label for="content">Content:</label>
        <input id="content" type="text" />
      </div>

      <input type="submit" value="Ok" />
    </form>
  </template>

  <script src="add-comment.js"></script>
</dom-module>
