html, body{
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: 'DejaVu Serif',sans-serif;
  font-size: 15px;
  min-height: 100%;
  background: #FF7668;
  color: #fff;

  h1 {
    text-align: center;
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  height: 100%;
  margin: 40px 5px;
}
