.navbar {
  border-width: 0 0 1px;
  width: 100%;
  background: #353434;
  height: 40px;
  -webkit-box-shadow: 0 4px 2px rgba(89,87,87,.7);
  -moz-box-shadow: 0 4px 2px rgba(89,87,87,.7);
  box-shadow: 0 4px 2px rgba(89,87,87,.7);

  .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .navbar-links {
    width: 80%;

    .link {
      display: block;
      width: 100%;
      text-align: center;
      padding: 10px 15px;
      text-decoration: none;
      color: #fff;

      &:hover,
      &:active,
      &:active {
        color: #EF4836;
        background-color: transparent;
      }
    }
  }

  .toggle {
    padding: 15px;
    color: black;
  }
}

@media (min-width: 550px) {
  .navbar {
    display: flex;

    .left,.right {
      display: flex;
      flex: 1;
    }

    .link {
      width: auto;
    }

    .right {
      justify-content: flex-end;
    }

    .toggle {
      display: none;
    }
  }
}

.navbar {
  div {
    display: none;

    @media (min-width: 550px) {
      display: flex;
    }
  }
}

@media (max-width: 550px) {
  .navbar {
    position: relative;

    .toggle {
      float: right;
    }

    div {
      float: left;
    }

    &.active {
      .toggle {
        background: #000;
        color: white;
      }

      div {
        display: block;
        float: right;
        width: 100%;
      }

      .link {
        background: #000;
        color: #fff;

        &:hover,
        &:active {
          background: #fff;
          color: #000;
        }
      }
    }
  }
}
